.modalBackground {
  height: 100vh;
  width: 100vw;
  left: 0px;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 800px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.modalCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.modalCloseBtn button {
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  display: inline-block;
  justify-content: left;
  align-items: left;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}